<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>CATABASE!</h1> 
        <div class=cat>
            <img src="<%=cat.img %>" alt="Cat picture" width="600px">
            <h3><%=cat.name%></h3>
            <p><%=cat.description%></p>
        </div>
    
    <a href="/catabase/<%=cat._id%>/edit">
        <button>EDIT CAT</button>
    </a>

    <a href="/catabase">
        <button>Back To Index</button>
    </a>

</body>
</html>