body {
    background-color: burlywood;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: chocolate;
    width: 80%;
    margin: 0 auto;
    border-radius: 25px;
    
}
.title {
    margin-left: 20px;
    color: whitesmoke;
}
.title h1 {
    font-size: 3em;
    font-family: 'Press Start 2P', cursive;
}
/* FORMS */
input {
    padding: 8px;
}

/* BUTTONS */
.navBtn {
    margin-right: 20px;
    margin-top: 10px;
}
.navBtn button {
    background-color: cornflowerblue;
    color: whitesmoke;
    border: none;
    padding: 10px;
    width: 150px;
}
.navBtn button:hover {
    background-color: dodgerblue;
    opacity: 0.8;
    color: black;
}
.showButtons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
}
.showButtons button {
    background-color: cornflowerblue;
    padding: 15px;
    border: none;
    width: 150px;
    margin-right: 5px;
}
.deleteCat button:hover {
    background-color: red;
}

.showButtons button:hover {
    background-color: dodgerblue;
    color: white;
}
.navBtn .addACat {
    background-color: cornflowerblue;
    width: 150px;
}
.userForm button {
    background-color: green;
    color: whitesmoke;
    border: none;
    padding: 10px;
    width: 150px;
}
.liked {
    background-color: red;
    color: white;
    padding: 15px;
    border: none;
    width: 150px;
}
.like {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    padding: 15px;
    border: none;
    width: 150px;
}
#likeBtn button:hover {
    background-color: red;
}
/* CONTAINERS */
.container {
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px auto;
}
.cat {
    background-color: bisque;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
}
.cat img {
    border-radius: 25px;
    max-width: 200px;
    width: 90%;
    margin-top: 5%;
}
.cat:hover {
    transition: all 0.3s;
    background-color: goldenrod;
    color: white;
}
.cat img:hover {
    box-shadow: 0px 2px 5px gray;
}
.showContainer {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    width: 60%;
    border-radius: 25px;
}
.showCat {
    background-color: bisque;
    margin: 5px;
    padding: 40px 10px;
    border-radius: 25px;
}
.showCat img {
    border-radius: 25px;
    max-width: 600px;
    width: 90%;
}
/* NEW USER FORM */
.newUserContainer {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
    background-color: lightgoldenrodyellow;
}
.newUserContainer input {
    margin-bottom: 15px;
    width: 80%;
}
.newUserContainer .create {
    margin-bottom: 25px;
}
.newUserTitle h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 5%;
    margin-bottom: 5%;
}
/* LOG IN FORM */
.logInForm {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
    background-color: lightgoldenrodyellow;
}
.logInForm input {
    margin-bottom: 15px;
    width: 80%;
}
.logInForm .logIn {
    margin-bottom: 25px;
}
.logInTitle h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 5%;
    margin-bottom: 5%;
}
/* EDIT CAT CONTAINER */
.editCatContainer {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
    background-color: lightgoldenrodyellow;
}
.editCatContainer input {
    margin-bottom: 15px;
    width: 80%;
}
.editCatContainer .editCatBtn {
    margin-bottom: 25px;
    background-color: goldenrod;
}
.editCatTitle h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 5%;
    margin-bottom: 5%;
}
/* NEW CAT CONTAINER */
.newCatContainer {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
    background-color: lightgoldenrodyellow;
}
.newCatContainer input {
    margin-bottom: 15px;
    width: 80%;
}
.newCatContainer .addACatBtn {
    margin-bottom: 25px;
    background-color: green;
}
.newCatTitle h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 5%;
    margin-bottom: 5%;
}