body {
    background-color: mediumaquamarine;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    width: 80%;
    margin: 0 auto;
    border-radius: 25px;
    
}
.title {
    margin-left: 20px;
    color: whitesmoke;
}
.title h1 {
    font-size: 4em;
}
/* FORMS */
input {
    padding: 8px;
}

/* BUTTONS */
.navBtn {
    margin-right: 20px;
    margin-top: 10px;
}
.navBtn button {
    background-color: cornflowerblue;
    color: whitesmoke;
    border: none;
    padding: 10px;
    width: 150px;
}
.navBtn button:hover {
    background-color: dodgerblue;
}
.showButtons {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.showButtons button {
    padding: 15px;
    border: none;
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
}
.showButtons .editBtn {
    background-color: hotpink;
}
.showButtons .deleteBtn {
    background-color: goldenrod;
}
.showButtons .backBtn {
    background-color: blueviolet;
    width: 150px;
    margin-left: 5px;
}
.navBtn .addACat {
    background-color: green;
    width: 150px;
}
.navBtn .backBtn {
    background-color: blueviolet;
    width: 150px;
}
.userForm button {
    background-color: green;
    color: whitesmoke;
    border: none;
    padding: 10px;
    width: 150px;
}
/* CONTAINERS */
.container {
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px auto;
}
.cat {
    background-color: bisque;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
}
.cat img {
    border-radius: 25px;
    max-width: 200px;
    width: 90%;
    margin-top: 5%;
}
.cat:hover {
    transition: all 0.3s;
    background-color: burlywood;
}
.cat img:hover {
    box-shadow: 0px 2px 5px gray;
}
.showContainer {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    width: 60%;
    border-radius: 25px;
}
.showCat {
    background-color: bisque;
    margin: 5px;
    padding: 40px 10px;
    border-radius: 25px;
}
.showCat img {
    border-radius: 25px;
    max-width: 600px;
    width: 90%;
}