<%- include('../partials/header.ejs') %> 
<head>
    <%- include('../partials/head.ejs') %> 
</head>
<body>
    <!-- nav?? -->
    <h1>NEW USER</h1>
    <div class='userForm newUser'>
        <form action="/users" method="POST">
            <label for="username">USERNAME:</label>
                <input type="text" name="username">
            <label for="password">PASSWORD:</label>
                <input type="password" name="password">
            <div class='navBtn'>
                <button class="create navBtn">CREATE</button>
            </div>
        </form>
    </div>
    <div class='navBtn'>
        <a href="/catabase">
            <button class='navBtn backBtn'>Back To Index</button>
        </a>
    </div>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>